#chart {
  height: 400px;
  max-width: 1000px;
  border-left: solid;
  border-bottom: solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 2em;

}

div.t2 {

  flex-basis: 10%;
  box-sizing: border-box;
  border-style: solid;
  background-color: blue;


}
