#chart {
  height: 400px;
  width: 75%;

  border-left: solid;
  border-bottom: solid;
}

div.t1{
  height: 100%;
  float: left;
  width: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

div.t2 {
  height: 50%;
  width: 50px;
  border-style: solid;
  background-color: blue;

}
